{% extends 'client/nbase.html' %}
{% load static %}



{% block content %}

    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Invest Section -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Investment Sum</h4>
                        <span class="badge fs-3 bg-success">{{ investment.invest_amount }}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Current Value</h4>
                        <span class="badge fs-3 bg-success">{{ investment.current_value }}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Returns</h4>
                        <span class="badge fs-3 bg-success">+{{ investment.returns }} %</span>
                    </div>
                </div>
            </div>
                                <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Profit/Loss</h4>
                        <span class="badge fs-3 bg-success">{{ investment.profit_loss }}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Invest Section -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body mt-0">
                        <div class="amp-pxl mt-4" style="height: 350px;">
                            <div class="">{{ chart|safe }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Table -->
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex">
                            <div>
                                <h4 class="card-title">Stock Insvestment</h4>
                            </div>
                        </div>
                        <!-- title -->
                        <div class="table-responsive">
                            <table class="table mb-0 table-hover align-middle text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Stocks Name</th>
                                        <th class="border-top-0">Qty</th>
                                        <th class="border-top-0">Total Stock</th>
                                        <th class="border-top-0">DP Value</th>
                                        <th class="border-top-0">Close Rate</th>
                                        <th class="border-top-0">Collateral Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for stock in stocks %}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <h4 class="m-b-0 font-16">{{ stock.stock_name }}</h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ stock.dp }}</td>
                                            <td>{{ stock.total_stock }}</td>
                                            <td>{{ stock.dp_value }}</td>
                                            <td>
                                                <label class="badge bg-info">{{ stock.close_rate }}</label>
                                            </td>
                                            <td>{{ stock.collateral_value }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table -->       
    </div> 
    <!-- End Container fluid  -->
    
{% endblock content %}
            
              